# Interdire le listing des répertoires
Options -Indexes
RewriteEngine on
# Interdire le listing des fichiers cachés (précédés pas un .)
RewriteRule "(^|/)\." - [F,L]
# Réécriture d'URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]