$mainBackgroundColor: #000000;
$secondaryBackgroundColor:#DAAF50;
$thirdlyBackgroundColor:#FFFFFF;
$mainTextColor: #DAAF50;
$secondaryTextColor:#000000;
$thirdlyTextColor:#FFFFFF;
$mainTitleFont: 'Cinzel Decorative', serif;
$secondaryTitles: 'Playfair Display';
$otherText: 'Poppins';