/*==========CINZEL DECORATIVE==========*/
@font-face {
  font-display: swap;
  font-family: 'Cinzel Decorative';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/cinzel-decorative-v19-latin-regular.woff2') format('woff2');
}

/*==========PLAYFAIR DISPLAY==========*/
/*==========PLAYFAIR DISPLAY -> REGULAR==========*/
@font-face {
  font-display: swap;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/playfair-display-v40-latin-regular.woff2') format('woff2');
}

/*==========PLAYFAIR DISPLAY -> ITALIC==========*/
@font-face {
  font-display: swap;
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  src: url('../../fonts/playfair-display-v40-latin-italic.woff2') format('woff2'); 
}

/*==========PLAYFAIR DISPLAY -> BOLD==========*/
@font-face {
  font-display: swap; 
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/playfair-display-v40-latin-500.woff2') format('woff2'); 
}

/*==========PLAYFAIR DISPLAY -> ITALIC BOLD==========*/
@font-face {
  font-display: swap; 
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 500;
  src: url('../../fonts/playfair-display-v40-latin-500italic.woff2') format('woff2');
}

/*==========PLAYFAIR DISPLAY -> BOLDER==========*/
@font-face {
  font-display: swap; 
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 800;
  src: url('../../fonts/playfair-display-v40-latin-800.woff2') format('woff2'); 
}




/*==========POPPINS==========*/
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}
